<!DOCTYPE html>
<head>
    <!-- Display Title -->
    <title>
        Random Comic Generator
    </title>
    <!-- Attach Stylesheets -->
    <link rel="stylesheet" href="/static/stylesheets/styles.css" type="text/css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" />
</head>
<body>
    <!-- Create Display Container -->
    <div class="cat-container">
        <h1>
            <!-- Display Comic Title -->
            Random Cat Image
        </h1>
        <h4>
            <!-- Display Comic Date -->
            Filler Text
        </h4>
        <br>
        <!-- Display Comic -->
        <img src="<%= catData.url %>" width="500" height="500" />
        
    </div>
</body>