<!DOCTYPE html>
<head>
    <!-- Display Title -->
    <title>
        Crazy For Cats
    </title>
    <!-- Attach Stylesheets -->
    <link rel="stylesheet" href="/static/stylesheets/styles.css" type="text/css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" />

</head>
<body>
    <!-- Create Display Container -->
    <div class="cat-container">
        <h1>
            <!-- Display Comic Title -->
            Crazy For Cats
        </h1>
        <br>

        <!-- Display Comic -->
        <img src="<%= catData.url %>" width="500" height="350" />
        <br>

        <!-- Cat Resources -->

        <!-- Cat Fact -->
        <h3>Cat Fact</h3>
        <p><%= catFact.fact %></p><br>

        <!-- Pet Finder -->
        <h3>Pet Finder</h3>
        <p>Are you looking to adopt a cat? <a href="https://www.petfinder.com/">Click here</a> to learn where you can adopt one today!</p><br>
        
        <!-- Care Guide -->
        <h3>Cat Care Guide</h3>
        <p>Are you looking for more information on how to care for your pet? <a href="https://www.aspca.org/pet-care/cat-care/general-cat-care">Click here</a> link to learn more!</p>
    </div>
</body>